// ---------
// variables
// ---------
$font-stack:    Helvetica, sans-serif;
$primary-color: blue;

body {
  font-family: $font-stack;
  color: $primary-color;
}


// -------
// nesting
// -------
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }

//   li { display: inline-block; }

//   a {
//     display: block;
//     padding: 6px 12px;
//     text-decoration: none;
//   }
// }


// -------
// mix-ins
// -------
// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }

// .box {
//   @include transform(rotate(30deg));
// }

// @mixin media($queryString){
//     @media #{$queryString} {
//       @content;
//     }
// }

// .container {
//     width: 900px;
//     @include media("(max-width: 767px)"){
//         width: 100%;
//     }
// }


// ------------------
// extend/inheritance
// ------------------
// // will print
// %message-shared {
//   border: 1px solid #ccc;
//   padding: 10px;
//   color: #333;
// }

// // won't print
// %equal-heights {
//   display: flex;
//   flex-wrap: wrap;
// }

// .message {
//   @extend %message-shared;
// }

// .success {
//   @extend %message-shared;
//   border-color: green;
// }

// .error {
//   @extend %message-shared;
//   border-color: red;
// }

// .warning {
//   @extend %message-shared;
//   border-color: yellow;
// }

// ---------
// functions
// ---------
// @function getColumnWidth($width, $columns,$margin){
//     @return ($width / $columns) - ($margin * 2);
// }

// $container-width: 100%;
// $column-count: 4;
// $margin: 1%;

// .container {
//   width: $container-width;
// }

// .column {
//   background: #1abc9c;
//   height: 200px;
//   display: block;
//   float: left;
//   width: getColumnWidth($container-width, $column-count, $margin);
//   margin: 0 $margin;
// }
